#box{
	width:200px;
	height:200px;
	border:2px solid black;
	background-color:lightblue;
    align-items:center;
}
p{
	color:purple;
	text-align:center;
	font-family: Arial,sans-serif;
	line-height:10;
	font-size:16px;
}